!!!
%html
  %head
    %script(src="https://use.fontawesome.com/828dbcdbca.js")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    :css
      @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Ceviche+One');

      html {
        height: 100%;
      }
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #F8DF5C;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .main {
        width: 500px;
        margin: 0 auto;
        -# text-align: center;
        -# display: block;
      }
      .welcome {
        font-family: 'Ceviche One', cursive;
        font-size: 64px;
        line-height: 0.7em;
        text-align: center;
        display: block;
        margin: 0 auto;
      }
      .base, .button {
        display: block;
        margin: 0 auto;
      }
      .hangmanBuild {
        -# height: 405px;
        margin: 30px auto 0 auto;
        display: block;
      }
      .scaffoldSide {
        margin: auto 37px 0 auto;
        display: block;
      }
      .hangmanMiddle {
        width: 225px;
        height: 100%;
        display: block;
        margin: 0 auto;
      }
      .wordChallenge-wrapper {
        display: block;
        margin: 30px auto;
        text-align: center;
      }
      .wordChallenge {
        display: inline-block;
        margin: 0 auto;
      }
      .left-of-scaffoldSide {
        -# width: 171px;
        position: absolute;
      }
      .scaffoldTop-and-Rope {
        margin-left: 59px;
        top: 0px;
      }
      .hangmanBottom {
        display: block;
        margin: 0 auto;
      }
      .content-wrapper{
        width: 280px;
        top: 176px;
        left: 15px;
        position: absolute;
        -# text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.5em;
      }
      .content-hr {
        width: 3em;
        background-color: black;
        height: 1px;
        border: 0;
      }
      .letterBox-hr {
        width: 1em;
        background-color: black;
        height: 1px;
        border: 0;
      }
      .letterBox {
        width: 40px;
        -# border-style: solid;
        border-color: #000000;
        border-bottom: 1px solid black;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 48px;
        font-weight: 700;
        color: #A83B70;
        line-height: 1.2em;
      }
      .clickLetter {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #A83B70;
        line-height: 1.2em;
      }
      .alphabet-wrapper {
        display: inline;
        margin: 10px auto 0 auto;
      }
      .alphabet {
        width: 25px;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 28px;
        font-weight: 300;
        color: #000000;
        line-height: 1.2em;
      }
      .wrongGuessesTitle {
        display: inline-block;
      }
      .wrongLetter, .guessCount {
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        color: #A83B70;
        -# line-height: 1.5em;
      }
    %script(src='js/hangman.js')
    :javascript
      // https://developer.mozilla.org/en/docs/Web/Events/DOMContentLoaded
      // https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener
      document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('reset-game').addEventListener('click',resetGame);
        document.getElementById('fetch-word').addEventListener('click',fetchWord);
        document.getElementById('newGame').addEventListener('click',runHangman);
        document.getElementById('playGame').addEventListener('click', runHangman);
      });

  %body
    %input#reset-game(type='button' value='Reset Game')
    %input#fetch-word(type='button' value='Fetch Word')
    %input#playGame(type='button' value='Play Game')
    .main
      .content-wrapper
        .gameWinner
          Game winner: //alert Game winner
        %hr.content-hr
        .guessesLeftTitle
          Guesses remaining:
          #guessesLeft
        .wrongGuessesTitle
          Incorrect guesses:
          #wrongGuesses
      .welcome
        Welcome to the Hangman Game!
      %img#newGame.button(src='img/Button.png')
      .hangmanBuild
        .hangmanMiddle
          .left-of-scaffoldSide
            %img.scaffoldTop-and-Rope(src='img/Scaffold-top-rope.png')
          %img.scaffoldSide(src='img/Scaffold-side.png')
        .hangmanBottom
          %img.base(src='img/Base-and-shadow.png')
      .wordChallenge-wrapper
        #wordChallenge
          .letterBox
        .alphabet-wrapper
          .alphabet
            A
          .alphabet
            B
          .alphabet
            C
          .alphabet
            D
          .alphabet
            E
          .alphabet
            F
          .alphabet
            G
          .alphabet
            H
          .alphabet
            I
          .alphabet
            J
          .alphabet
            K
          .alphabet
            L
          .alphabet
            M
          .alphabet
            N
          .alphabet
            O
          .alphabet
            P
          .alphabet
            Q
          .alphabet
            R
          .alphabet
            S
          .alphabet
            T
          .alphabet
            U
          .alphabet
            V
          .alphabet
            W
          .alphabet
            X
          .alphabet
            Y
          .alphabet
            Z
          .clickLetter
            Click a letter

