!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %link(rel='stylesheet' href='css/style.css')
    %script(src='js/config.js')
    %script(src='js/app.js')
    %script(src='js/init.js')
  %body
    #errorOverlay
      .errorText
        Please contact the administrator at
        %a(href='mailto:me@royruiz.com')
          me@royruiz.com
    .main


      //Start of Content centered in the page
      .welcome
        Welcome to the Hangman Game!
      .button-wrapper
        %img#newGame.button(src='img/newgame-button.png')

      //All elements pertaining to the Hangman image in center of page
      .hangmanBuild

        //This controls the elements involving the Hangman silhouette. The image tags are initialized to not display. They display as the user guesses incorrectly
        .hangmanDude
          %img.hangmanHead(src='img/head.png')
          %img.hangmanBody(src='img/body.png')
          %img.hangmanLeftArm(src='img/left-arm.png')
          %img.hangmanRightArm(src='img/right-arm.png')
          %img.hangmanLeftLeg(src='img/left-leg.png')
          %img.hangmanRightLeg(src='img/right-leg.png')
          %img.scaffoldTop-and-Rope(src='img/Scaffold-top-rope.png')
        .hangmanScaffold
          %img(src='img/Scaffold-side.png')
        .hangmanBottom
          %img.base(src='img/Base-and-shadow.png')

      //Contains all elements in the bottom center of page. It populates as the user plays the game. It also uses the text in 'alphabet' as the guesses when performing 'click' event
      .wordChallenge-wrapper
        #wordChallenge
        .alphabet-wrapper
          .alphabet
            A
          .alphabet
            B
          .alphabet
            C
          .alphabet
            D
          .alphabet
            E
          .alphabet
            F
          .alphabet
            G
          .alphabet
            H
          .alphabet
            I
          .alphabet
            J
          .alphabet
            K
          .alphabet
            L
          .alphabet
            M
          .alphabet
            N
          .alphabet
            O
          .alphabet
            P
          .alphabet
            Q
          .alphabet
            R
          .alphabet
            S
          .alphabet
            T
          .alphabet
            U
          .alphabet
            V
          .alphabet
            W
          .alphabet
            X
          .alphabet
            Y
          .alphabet
            Z

          //Footer to ad a visual for user to know what to do above
          .clickLetter
            SELECT A LETTER

          //Contains all elements in the left window panel. It populates as the user plays the game
          .content-wrapper
            .guessesLeftTitle
              #guessesLeft
            #wrongGuessesTitle
              #wrongGuesses
            #gameWinner
